<link rel="stylesheet" href="{{DIRURL}}main.css" >
 

	<div id="chart04" class="col-12 chart01  "> 
	</div>

  
  <script> 
    let chart03 = new ArticleCharts("chart04","XYChart",{chartTitle : "Bab Alioua",order : 3});
  chart03.setDateAxis("date");
  chart03.setValueAxis(120,600); 
  chart03.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart03.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart03.addDateSerie("date","value3","Valeur","#ffffff",true);   
  chart03.addDataDate("{{DIRURL}}data/babalioua.json");
  chart03.createLegend();  
  chart03.createCursor();
  chart03.chartUnit(" μg/m³");
  chart03.createTrendLine("value","date",[
    { "date": "2007-11-06", "value": 260},
    { "date": "2010-11-06", "value": 260}
  ]);
  
  let chart04 = new ArticleCharts("chart04","XYChart",{chartTitle : "Bab Saadoun",order : 1});
  chart04.setDateAxis("date",null,{changeFormatMonth : "yyyy" ,dateFormatMonth : "MMMM"});
  chart04.setValueAxis(120,600); 
  chart04.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart04.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart04.addDateSerie("date","value3","Valeur","#ffffff",true);  
  chart04.addDataDate("{{DIRURL}}data/babsaadoun.json");
  chart04.createLegend();  
  chart04.createCursor();
  chart04.chartUnit(" μg/m³");
  chart04.disablezoom();
  chart04.createTrendLine("value","date",[
    { "date": "2004-01-07", "value": 260},
    { "date": "2010-11-30", "value": 260}
  ]);
 
  let chart05 = new ArticleCharts("chart04","XYChart",{chartTitle : "Ben Arous",order : 11});
  chart05.setDateAxis("date");
  chart05.setValueAxis(120,300); 
  chart05.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart05.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart05.addDateSerie("date","value3","Valeur","#ffffff",true);  
  chart05.addDataDate("{{DIRURL}}data/benarous.json");
  chart05.createLegend();  
  chart05.createCursor();
  chart05.chartUnit(" μg/m³");
  chart05.createTrendLine("value","date",[
    { "date": "2004-01-07", "value": 260},
    { "date": "2016-11-20", "value": 260}
  ]);

  let chart06 = new ArticleCharts("chart04","XYChart",{chartTitle : "Bizerte",order : 4}); 
  chart06.setDateAxis("date");
  chart06.setValueAxis(120,800); 
  chart06.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart06.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart06.addDateSerie("date","value3","Valeur","#ffffff",true);  
  chart06.addDataDate("{{DIRURL}}data/bizerte.json");
  chart06.createLegend();  
  chart06.createCursor();
  chart06.chartUnit(" μg/m³");
  chart06.createTrendLine("value","date",[
    { "date": "2003-07-26", "value": 260},
    { "date": "2011-12-16", "value": 260}
  ]);


  let chart07 = new ArticleCharts("chart04","XYChart",{chartTitle : "Gabès",order : 5});
  chart07.setDateAxis("date");
  chart07.setValueAxis(120,2000); 
  chart07.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart07.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart07.addDateSerie("date","value3","Valeur","#ffffff",true);  
  chart07.addDataDate("{{DIRURL}}data/gabes.json");
  chart07.createLegend();  
  chart07.createCursor(); 
  chart07.chartUnit(" μg/m³");
  chart07.createTrendLine("value","date",[
    { "date": "2007-11-13", "value": 260},
    { "date": "2016-11-15", "value": 260}
  ]);


  let chart08 = new ArticleCharts("chart04","XYChart",{chartTitle : "Ghazela",order : 6});
  chart08.setDateAxis("date");
  chart08.setValueAxis(120,500); 
  chart08.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart08.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart08.addDateSerie("date","value3","Valeur","#ffffff",true);  
  chart08.addDataDate("{{DIRURL}}data/ghazela.json");
  chart08.createLegend();  
  chart08.createCursor();
  chart08.chartUnit(" μg/m³");
  chart08.createTrendLine("value","date",[
    { "date": "2007-11-19", "value": 260},
    { "date": "2011-12-11", "value": 260}
  ]);

  let chart09 = new ArticleCharts("chart04","XYChart",{chartTitle : "Kairouan",order : 7});
  chart09.setDateAxis("date");
  chart09.setValueAxis(120,500); 
  chart09.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart09.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart09.addDateSerie("date","value3","Valeur","#ffffff",true);   
  chart09.addDataDate("{{DIRURL}}data/kairouan.json");
  chart09.createLegend();  
  chart09.createCursor();
  chart09.chartUnit(" μg/m³");
  chart09.createTrendLine("value","date",[
    { "date": "2008-03-13", "value": 260},
    { "date": "2011-06-06", "value": 260}
  ]);

  let chart10 = new ArticleCharts("chart04","XYChart",{chartTitle : "Manouba",order : 8});
  chart10.setDateAxis("date");
  chart10.setValueAxis(120,500); 
  chart10.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart10.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart10.addDateSerie("date","value3","Valeur","#ffffff",true);  
  chart10.addDataDate("{{DIRURL}}data/manouba.json");
  chart10.createLegend();  
  chart10.createCursor();
  chart10.chartUnit(" μg/m³");
  chart10.createTrendLine("value","date",[
    { "date": "2007-11-08", "value": 260},
    { "date": "2010-08-05", "value": 260}
  ]);


  let chart11 = new ArticleCharts("chart04","XYChart",{chartTitle : "Sfax Groupe Chimique",order : 9});
  chart11.setDateAxis("date");
  chart11.setValueAxis(120,500); 
  chart11.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart11.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart11.addDateSerie("date","value3","Valeur","#ffffff",true);   
  chart11.addDataDate("{{DIRURL}}data/sfaxchimique.json");
  chart11.createLegend();  
  chart11.createCursor();
  chart11.chartUnit(" μg/m³");
  chart11.createTrendLine("value","date",[
    { "date": "2005-10-17", "value": 260},
    { "date": "2016-11-20", "value": 260}
  ]);

  let chart12 = new ArticleCharts("chart04","XYChart",{chartTitle : "Sfax Ville",order : 2});
  chart12.setDateAxis("date");
  chart12.setValueAxis(120,500); 
  chart12.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart12.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart12.addDateSerie("date","value3","Valeur","#ffffff",true);  
  chart12.addDataDate("{{DIRURL}}data/sfaxville.json");
  chart12.createLegend();  
  chart12.createCursor();
  chart12.chartUnit(" μg/m³");
  chart12.createTrendLine("value","date",[
    { "date": "2005-09-15", "value": 260},
    { "date": "2016-09-16", "value": 260}
  ]);

  let chart13 = new ArticleCharts("chart04","XYChart",{chartTitle : "Sousse",order : 10});
  chart13.setDateAxis("date",null,{changeFormatDay : "[bold]MMM yyyy[/]"});
  chart13.setValueAxis(120,500); 
  chart13.addDateSerie("date","value","Dépassements du seuil optimal tunisien (120μg/m³)","#cccccc"); 
  chart13.addDateSerie("date","value2","Dépassements du seuil limite","#ffc200"); 
  chart13.addDateSerie("date","value3","Valeur","#ffffff",true);  
  chart13.addDataDate("{{DIRURL}}data/sousse.json");
  chart13.createLegend();  
  chart13.createCursor();
  chart13.chartUnit(" μg/m³");
  $('*[data-target="1"]').click();
  chart13.createTrendLine("value","date",[
    { "date": "2006-02-23", "value": 260},
    { "date": "2011-11-22", "value": 260}
  ]);
  
  $('*[data-target="1"]').click();


  </script>