<link rel="stylesheet" href="{{DIRURL}}main.css" > 
<div id="chart06" class="col-12 chart01  "></div>
    
  <script> 
       chart15 = new ArticleCharts("chart06","map");
        chart15.mapGeoData();
        chart15.mapProjection();
        chart15.mapAddSerie("null",null, null , null ,
                            {color: "grey"},
                            {tooltip:"{name}",tooltipBc:"#b1b1b1"},
                            false
                        );
        
        chart15.mapAddMarker(37.162791,9.522608,"Bizerte",{value : 212,radius : 212/5 ,tooltipText : "{title} : {value}"});
        chart15.mapAddMarker(36.8086,10.1589,"Bab Saadoun",{value : 183 ,radius : 183/5 ,tooltipText : "{title} : {value}"}); 
        chart15.mapAddMarker(34.7337,10.7512,"Sfax Ville",{value : 202 ,radius : 202/5,tooltipText : "{title} : {value}"});
        chart15.mapAddMarker(34.7121,10.7255,"Sfax groupe chimique",{value : 163 ,radius : 163/5,tooltipText : "{title} : {value}"});
        chart15.mapAddMarker(35.8296,10.6277,"Sousse",{value : 23 ,radius : 23/5,tooltipText : "{title} : {value}"});
        chart15.mapAddMarker(36.51102,10.138,"Ben Arous",{value : 66 ,radius : 66/5,tooltipText : "{title} : {value}"});
        chart15.mapAddMarker(36.7891,10.1738,"Bab Alioua",{value : 107 ,radius : 107/5,tooltipText : "{title} : {value}"});
        chart15.mapAddMarker(36.8093,10.0863,"Manouba",{value : 91 ,radius : 91/5,tooltipText : "{title} : {value}"});
        chart15.mapAddMarker(36.8909,10.1729,"Ghazela",{value : 81 ,radius : 81/5,tooltipText : "{title} : {value}"});
        chart15.mapAddMarker(35.5371,10.4301,"Kairouan",{value : 98 ,radius : 98/5,tooltipText : "{title} : {value}"});
        chart15.mapAddMarker(33.88146,10.0982,"Gabes",{value : 280 ,radius : 280/5,tooltipText : "{title} : {value}"});
        
        chart15.createLegend({position : "left",
                            templateText:"{name} : {value}",
                            });
  </script>