<link rel="stylesheet" href="{{DIRURL}}main.css" >  
  <script src="{{DIRURL}}js/core.js"></script>
  <script src="{{DIRURL}}js/maps.js"></script>
  <script src="{{DIRURL}}js/tunisiaHigh.js"></script>
  <script src="{{DIRURL}}js/charts.js"></script>
  <script src="{{DIRURL}}js/animated.js"></script>
  <script src="{{DIRURL}}js/material.js"></script> 
  <script src="{{DIRURL}}js/ArticleCharts.js"></script> 

  <div class="col-12 chart01 row mx-0 " id="mapscontainer" > 
    <div class="col-md-6 col-12">
      <div id="chart05"  class=" chart01" style="height: 100vh">
      </div> 
      <div>
          <embed type="image/svg+xml" src="{{DIRURL}}data/cercle.svg" class="w-100 legend1 d-block d-md-none" /> 
      </div>
    </div>
    <div class="col-md-6 col-12 pt-5">
      <div id="chart06"  class="chart01 grandtunismap"   > </div>
      <div>
          <embed type="image/svg+xml" src="{{DIRURL}}data/cercle.svg" class="w-100 legend1 d-md-block d-none" /> 
      </div>
    </div>
  </div>
   
  <script> 
chart15 = new ArticleCharts("chart05","map");
chart15.mapGeoData(0.9,0.8);
chart15.mapProjection();
chart15.mapAddSerie("null",null, null , null, {color: "grey"}, {tooltip:"{name}",tooltipBc:"#b1b1b1"}, false );
chart15.mapAddMarker(37.162791,9.522608,"Bizerte",{value : 212,radius : 212/5 ,tooltipText : "{title} : {value}"});
chart15.mapAddMarker(36.8086,10.1589,"Bab Saadoun",{value : 183 ,radius : 183/5 ,tooltipText : "{title} : {value}"}); 
chart15.mapAddMarker(34.7337,10.7512,"Sfax Ville",{value : 202 ,radius : 202/5,tooltipText : "{title} : {value}"});
chart15.mapAddMarker(34.7121,10.7255,"Sfax groupe chimique",{value : 163 ,radius : 163/5,tooltipText : "{title} : {value}"});
chart15.mapAddMarker(35.8296,10.6277,"Sousse",{value : 23 ,radius : 23/5,tooltipText : "{title} : {value}"});
chart15.mapAddMarker(36.51102,10.138,"Ben Arous",{value : 66 ,radius : 66/5,tooltipText : "{title} : {value}"});
chart15.mapAddMarker(36.7891,10.1738,"Bab Alioua",{value : 107 ,radius : 107/5,tooltipText : "{title} : {value}"});
chart15.mapAddMarker(36.8093,9.8863,"Manouba",{value : 91 ,radius : 91/5,tooltipText : "{title} : {value}"});
chart15.mapAddMarker(36.8909,10.1729,"Ghazela",{value : 81 ,radius : 81/5,tooltipText : "{title} : {value}"});
chart15.mapAddMarker(35.5371,10.4301,"Kairouan",{value : 98 ,radius : 98/5,tooltipText : "{title} : {value}"});
chart15.mapAddMarker(33.88146,10.0982,"Gabes",{value : 280 ,radius : 280/5,tooltipText : "{title} : {value}"});
 
  
chart16 = new ArticleCharts("chart06","map");
 
if ($(window).width()<=767) {
  chart16.mapGeoData(2,2,{latitude : 36.78 , longitude : 10.061715247367921});
} else {
  chart16.mapGeoData(2.5,2.5,{latitude : 36.7509283207291 , longitude : 10.090499143450915});
} 

chart16.mapProjection();
chart16.mapAddSerie("null",null,["TN-14","TN-11","TN-12","TN-13", "TN-52"], null, 
{color: "grey"}, {tooltip:"{name}",tooltipBc:"#b1b1b1"}, false ); 
chart16.mapAddMarker(36.8086,10.1589,"Bab Saadoun",{value : 183 ,radius : 183/5 ,tooltipText : "{title} : {value}"}); 
chart16.mapAddMarker(36.65102,10.138,"Ben Arous",{value : 66 ,radius : 66/5,tooltipText : "{title} : {value}"});
chart16.mapAddMarker(36.7891,10.1738,"Bab Alioua",{value : 107 ,radius : 107/5,tooltipText : "{title} : {value}"});
chart16.mapAddMarker(36.8909,10.1729,"Ghazela",{value : 81 ,radius : 81/5,tooltipText : "{title} : {value}"});
chart16.mapAddMarker(36.8093,9.8863,"Manouba",{value : 91 ,radius : 91/5,tooltipText : "{title} : {value}"});
 
  </script>


<script>
$("#mapscontainer").on('mousewheel wheel', function(e) {
  let r = e.originalEvent.deltaY;
  $(window).scrollTop($(window).scrollTop() + r ); 
})
</script>