<link rel="stylesheet" href="{{DIRURL}}main.css" >
  
	<div id="chart02" class="col-12 chart01  halfheight "> 
	</div>
  <script>  
      chart02 = new ArticleCharts("chart02","XYChart",null,{width:90});
      chart02.setXAxis("year");
      chart02.setYAxis("Nombre de dépassements",20);
      chart02.setGap(80);
      chart02.addAxisLine("gabes","year","Gabes","#e85c58");
      chart02.addAxisLine("sfaxc","year","Sfax Groupe Chimique","#bfbfbf");
      chart02.addAxisLine("sfaxv","year","Sfax Ville","#ffc200");
      chart02.loadData("{{DIRURL}}data/chart02.json");
      chart02.createLegend();  
      chart02.createCursor(); 
      chart02.setMinGridDistance(80);
  </script>
