<link rel="stylesheet" href="{{DIRURL}}main.css" >
  
  
	<div id="chart01" class="col-12 chart01 halfheight "> 
	</div>
   

  <script> 
  
    let chart01 ;
    if ($(window).width()<=767) {
      chart01 = new ArticleChartMobile("chart01","XYChart",null,{width:90});
    } else {
      chart01 = new ArticleCharts("chart01","XYChart",null,{width:90});
    } 
    chart01.setXAxis("region",null,null,{start:0.2,end:0.8});
    chart01.setYAxis("Nombre de jours",1500); 
    chart01.addAxisColumn("tauxinf","region","Inférieurs à l'OMS","#cccccc","null",false,false,{columnWidth : 100 });
    chart01.addAxisColumn("tauxbet","region","Compris entre la valeur limite de l'OMS et celle de la Tunisie","#ffc200","null",false,false,{columnWidth : 100});
    chart01.addAxisColumn("tauxsup","region","Dépassements du seuil limite tunisien","#e85c58","null",false,false,{columnWidth : 100});
    chart01.loadData("{{DIRURL}}data/chart01.json");
    chart01.createLegend();  
    chart01.createCursor(); 
    chart01.reverseChart();  

  </script>
